# Dependency directories
node_modules/

# Compiled output
dist/

# Storybook build output
storybook-static/

# TypeScript build output
build/

# Rollup build output
build-rollup/

# Environment variables file
.env

# Editor and IDE files
.vscode/
.idea/
*.iml

# macOS files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
